
<%- include("partials/header"); -%>
<!-- #########################START BANNER AREA ############################### -->


<section class="site-banner">
<div class="container">
    <div class="circular--portrait img-thumbnail center">
        <img src="/img/IMG_20190114_013349-01.jpeg">
      </div>
    <div id = "i"class="site-title">
        <h3 class="title-text">Hey</h3>
        <h1 class="title-text text-uppercase">I am Harsh</h1>
         <h4 class="title-text uppercase">Mern Stack Developer</h4>
    </div>

    <div class="site-social text-center">
      <a href="https://github.com/hars123h?tab=repositories" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/punit_145_/" target="_blank"><i class = "fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/harsh-tripathi-2723341aa/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

</div>
</section>

<!-- ****************************END BANNER AREA********************************************* -->

</main>

<!-- **************************************END MAIN ARAE****************************************************** -->

<!-- #######################################Start About Area ############################################-->
<section id = "aarea" class="aabout-area">
  <div class = "container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="about-img">
              <img src="/img/banner.png" class="img-responsive" alt="banner1">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 about-title">
            <h2 class="text-uppercase pt-5">
             <span>Let me</span>
             <span>introduced</span>
             <span>myself</span>
            </h2>

            <div class="paragraph py-4 w-75">
             <p class="para">
              I’m <mark>Harsh Tripathi</mark>. A Designer and Developer Making the Web a Better Home.
             </p>
             <p class="para">
              I'm a Computer Science Second Year Student at SLIET University, Sangrur who is seeking opportunities
               in the field of Web Development.
             </p>
            </div>

            <div class="row">
              <div class="col-sm-6">
                  <ul class="about-list">
                      <li> <span class="title">Name</span> <span class="value">: Harsh Tripathi</span> </li>
                      <li> <span class="title">Date of Birth</span> <span class="value">: March 22, 2000</span> </li>
                      <li> <span class="title">College</span> <span class="value">: SLIET University, Sangrur</span> </li>

                  </ul>
              </div>
              <div class="col-sm-6">
                  <ul class="about-list">
                      <li> <span class="title">Phone</span> <span class="value">: +91-63875-22891</span> </li>
                      <li> <span class="title">Address</span> <span class="value">: Allahabad, India</span> </li>
                      <li> <span class="title">Email</span> <span class="value">: tripathihk2014@gmail.com</span> </li>
                  </ul>
              </div>
          </div>
          <div class="d-flex flex-row flex-wrap">
            <div class="edit">
              <a href="#skills-bd">
                <button type = "button" class = "btn button primary-button mr-4 text-uppercase ">my skills</button>
              </a>

            </div>
            <div class="edit">
               <a href="https://drive.google.com/file/d/1SLmH7teNqqA1xqyGv5Gr_4Ly-aSDYRNe/view?usp=sharing" target="_blank">

              <button type = "button" class = "btn button secondary-button text-uppercase ">
                <i class="fa fa-download" aria-hidden="true"></i> download resume</button>
                </a>
            </div>


          </div>

           </div>
      </div>
  </div>
</section>



<!-- ***********************************************End About Area******************************************** -->


<!-- *************************************Start Services Area********************************************-->

<section id = "skills" class="services-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center services-title">
        <h1 class = "text-uppercase title-text">Services Offers</h1>
        <p class="para">Following are the Services that are Offered by me!</p>
      </div>
    </div>
    <div class="container services-list">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img src="/img/1646980_23f7_2.jpg" width="100" height="100" alt="Services-1">
            </div>
            <div class="card-body text-center">
              <h5 class = "card-title text-uppercase font-roboto">mern stack developer</h5>
              <p class="card-text text-secondary">
                MERN stack is a web development framework. It consists
                of MongoDB, ExpressJS, ReactJS, and NodeJS as its working components.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img src="/img/ux.png" width="100" height="100" alt="Services-2">
            </div>
            <div class="card-body text-center">
              <h5 class = "card-title text-uppercase font-roboto">ux/ui design</h5>
              <p class="card-text text-secondary">
                They are in charge of designing each screen or page with which a user
                 interacts and ensuring that the UI visually communicates the path that a UX designer has laid out.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img src="/img/web-png-15.png" width="100" height="100" alt="Services-3">
            </div>
            <div class="card-body text-center">
              <h5 class = "card-title text-uppercase font-roboto">Web design</h5>
              <p class="card-text text-secondary">
                Web design refers to the design of websites that are displayed on the internet.
                 It usually refers to the user experience aspects of website development rather than software development.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- ################### OTHER SKILL AREA STARTED ############################### -->


<div id="skills-bd" class="skills-area section-padding">
  <div class="container">
      <div class="row">
          <div class="section-title  py-5">
              <h2 id = "i">OTHER  <span>SKILLS</span></h2><br>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Python (Programming and Development)</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">C++ Programming </h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">C Programming</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Java (Core)</h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Competitive Coding</h4>
          </div>
          <div class="col-md-6 col-xs-6">
            <h4 class="w3-text-white">Flutter(Recently Started)</h4>
        </div>

      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Data Structures</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Algorithms</h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">DataBase Management System</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">MongoDDB</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">HTML5</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">CSS3</h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">Restful APIs</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">ReactJS</h4>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">JavaScript</h4>
          </div>
          <div class="col-md-6 col-xs-6">
              <h4 class="w3-text-white">NodeJS</h4>
          </div>
      </div>

  </div>
</div>

<!-- **************End Other Skill Area************************************ -->

<!-- *************************************End Services Area********************************************-->

<!-- ############################## START EXPERIENCE AREA ################################### -->

<section id = "experience" class="experience-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center experience-title">
        <h1 class = "text-uppercase experience-text">My <span id = "e-edit">Experience</span></h1>
      </div>
    </div>

    <h3 class="w3-padding-16 w3-text-black">Certifications & Trainings</h3>
            <hr style="width:200px" class="w3-opacity">
            <span class="w3-margin-right">
                <h4 class = "margin-x">Trainings & Licenses</h4>
            <ul class="resumes">
                <ul>
                <h5>
                    <li class = "li-style">Web Development Bootcamp - Udemy <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-3b069aa4-e758-4990-83e2-63117c7f061a.jpg?v=1599825862000" target="_blank" class="w3-hover-text-green">(1599825862000)</a></li>
                    <li class = "li-style">HTML Course - Udemy <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-a3c9bd93-7962-4250-8f84-93697f777001.jpg?v=1599736162000" target="_blank" class="w3-hover-text-green">(1599736162000)</a></li>
                    <li class = "li-style">Python Programming <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-ed89fe3a-b429-45c0-b048-2bd0c4e80da3.jpg?v=1599826643000" target="_blank" class="w3-hover-text-green">(1599826643000)</a></li>
                    <li class = "li-style">NodeJS <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-4093a846-73de-4c39-8786-a8604be6f61a.jpg?v=1599736624000" target="_blank" class="w3-hover-text-green">(1599736624000)</a></li>
                    <li class = "li-style">Fundamentals of Computer Hacking </li>
                    <li class = "li-style">Java Programming Masterclass for Software Development- Udemy</li>
                </h5>
            </ul>
            </li>
            </ul>
            </span>
              <section class="brand-area">
                <div class="container-fluid">
                <div class ="row ">
                 <div class="col-xl-6 col-lg-12 col-md-12">
                  <div class="clg-activity">
                    <h2 class="text-uppercase pt-4 pb-5">Glimpses Of Qualification</h2>

                    <ul class="resumes">
                      <li class="resume-item expr pb-5" style = "overflow: hidden;">
                        <div style="clear: left;">
                          <p style="float: left;"><img src="/img/logo_2.png" alt="Avatar" style="width:80px"></p>
                          <br> <br><p class = "blue"><span id = "s-edit">D.R.S.F</span> </p>
                      </div>


                          <br>
                            <p class = "para"> I have done my class 10 and 12 from Dr. Rizvi Spring Field School, Kaushambi.<br>
                              For Result<mark>Click</mark> the button.<br><br>
                              <button class = "btn button secondary-button" data-toggle="collapse" data-target="#demo-1">RESULT</button>

                                <div id="demo-1" class="collapse">
                                   <h2>Class 10 : 9.8 CGPA</h2><br>
                                   <h2>Class 12 : 82.4%</h2>
                                  </div>
                           </p>

                      </li>
                      <li class="resume-item expr pb-5" style = "overflow: hidden;">
                        <div style="clear: left;">
                          <p style="float: left;"><img src="/img/sliet.jpg" alt="Avatar" style="width:80px"></p>
                          <br> <p class = "blue"><span id = "s-edit">SLIET</span> </p>
                      </div>


                          <br>
                            <p class = "para">I am doing my BE from SLIET University, Sangrur<br>
                              For Result<mark>Click</mark> this button.<br><br>
                              <button class = "btn button secondary-button" data-toggle="collapse" data-target="#demo">RESULT</button>

                                <div id="demo" class="collapse">
                                   <h2>Ist Semester : 9.75 </h2><br>
                                   <h2>2nd Semester : Comming Soon...</h2>
                                  </div>
                           </p>

                      </li>


                  </ul>
                  </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12">
                 <div class="experience-area">
                   <div class="d-flex flex-row years-area">
                    <h2 class ="p-3 years">01</h2>
                    <h2>
                      <span>Year</span>
                      <span>Experience</span>
                      <span>Working</span>
                    </h2>
                   </div>
                    <div class="d-flex flex-row flex-wrap call-area">
                      <span><i class=" fa fa-phone fa-3x px-3" aria-hidden="true"></i></span>
                      <div class="call-now">
                       <a href="#" class = "text-uppercase h4 font-roboto">Call Now</a>
                       <span class = "font-roboto py-2">(+91)-638-752-2891</span>
                      </div>
                    </div>
                    <div class="bg-panel"></div>
                 </div>
                 </div>
                </div>
                </div>
               </div>
               </section>
  </div>
</section>

<!-- ****************************** END Experience Area ****************************************** -->

<!-- ####################Reccomandation received ############################################# -->

<section id = "testimonials" class="about-area">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="about-title">
          <h1 class = "text-uppercase title-h1">endorsement <span style = "color : skyblue">Received<span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container carousel py-lg-5">
  <div class="owl-carousel owl-theme">
    <div class="client row">
      <div class="col-lg-4 col-md-12 col-sm-12 client-img">
        <div class="circular--portrait img-thumbnail center">
          <img src="/img/ana.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 about-client">
        <h4 class="text-uppercase">Ana Katiyar</h4>
        <p class="para">Be power of the fact that you have the power to raise above any situation and deliver the best results no matter the circumstances.
         The way you handeled the project showed resilience, experience, knowledge,
      and critical thinking.We would love to get your perspective on our next project.</p>
      </div>
    </div>
    <div class="client row">
     <div class="col-lg-4 col-md-12 client-img">
      <div class="circular--portrait img-thumbnail center">
        <img src="/img/anant.jpg">
      </div>
     </div>
     <div class="col-lg-8 col-md-12 about-client">
       <h4 class="text-uppercase">Anant Kumar</h4>
       <p class="para">Harsh is brillent in his work.He is always congruent through his mind and body both and that is the only way that he is focused in his work
       and also fully devoted.</p>
     </div>
   </div>
   <div class="client row">
     <div class="col-lg-4 col-md-12 client-img">
      <div class="circular--portrait img-thumbnail center">
        <img src="/img/raman.jpg">
      </div>
     </div>
     <div class="col-lg-8 col-md-12 about-client">
       <h4 class="text-uppercase">Raman Madhukar</h4>
       <p class="para">He is very hard working and time managing person.Always seeks to learn something new.
       Dedicated towards his work and always ready as a helping hand. </p>
     </div>
   </div>
   <div class="client row">
    <div class="col-lg-4 col-md-12 client-img">
      <div class="circular--portrait img-thumbnail center">
        <img src="/img/vikas1.jpg">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 about-client">
      <h4 class="text-uppercase">Vikas Tripathi</h4>
      <p class="para">Your fearless attitude and meek nature motivates him to take an extra mile to achieves his goals.I feel he is quite innovative as well
      which can help fulfill the larger dream of 'Atma nirbhar bharat'. I wish he reaches his full potential and become an idol for the society.</p>
    </div>
  </div>
  <div class="client row">
      <div class="col-lg-4 col-md-12 client-img">
        <div class="circular--portrait img-thumbnail center">
          <img src="/img/ranjan.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 about-client">
        <h4 class="text-uppercase">Ranjan Tripathi</h4>
        <p class="para">Highly Skilled, laborious and always try to learn something new.
        A Budding designer and developer who must become best in comming years. </p>
      </div>
    </div>
    <div class="client row">
     <div class="col-lg-4 col-md-12 client-img">
      <div class="circular--portrait img-thumbnail center">
        <img src="/img/mohan.jfif">
      </div>
     </div>
     <div class="col-lg-8 col-md-12 about-client">
       <h4 class="text-uppercase">Sai Krishna</h4>
       <p class="para">Its my absolute pleasure to recommend name of Harsh .
          I thoroughly enjoyed my time working  and came to know him as a truly valuable asset to absolutely any team. He is honest
          ,dependable and incredibly hard working .
          Beyond that he have an impressive coding skills . Along with his undeniable talent Harsh has always been absolute joy to work with.</p>
     </div>
   </div>

 </div>
 </div>
</section>
<!-- **************************** end Reccomandation Received ***************************** -->


<%- include("partials/footer"); -%>
